{% extends 'base.html' %}

{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/login.css' %}">
    <link href="assets/img/favicon.jpg" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/css/quill.snow.css" rel="stylesheet">
    <link href="assets/css/quill.bubble.css" rel="stylesheet">
    <link href="assets/css/remixicon.css" rel="stylesheet">
    <link href="assets/css/simple-datatables.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

      
  <script src="{% static 'ceq/javascript/js.js' %}"></script>




{%endblock%}
{% block 'titulo' %}Entradas{% endblock %}



{%block 'body'%}








  <main id="main" class="main">
    <div class="pagetitle">
       <h1 style="font-size: 50px;">Entradas</h1>
       <nav>
          
       </nav>
       <nav>
          <ol class="breadcrumb">
             <li style="margin-top: 10px; margin-right: 10px;"><a href="index.html">Filtrar entradas:</a></li>
             <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#basicModal"> Filtro Entradas </button>
             <div style="margin-left: 400px; margin-top:8px; color:black; font-size:20px">TOTAL {{total_entradas|floatformat:"2g"}} Litros</div>
             <div  class="modal fade" id="basicModal" tabindex="-1">
              <form method='POST' action="{% url 'entradas' %}"> {% csrf_token %}
                <div  class="modal-dialog">
                   <div style="width: 650px; padding-left: 40px; padding-right: 40px;" class="modal-content">
                      <div class="modal-header">
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="row mb-3">
                         <label for="inputDate" class="col-sm-2 col-form-label">Start Date:</label>
                         <div class="col-sm-10"> <input style="width:150px" name='data' type="date" class="form-control"></div>
                      </div>          
                      <div class="row mb-3">
                         <label for="inputDate" class="col-sm-2 col-form-label">End Date:</label>
                         <div class="col-sm-10"> <input style="width:150px" name='data_fim' type="date" class="form-control"></div>
                      </div>
                      <div class="row mb-3">
                         <label class="col-sm-2 col-form-label">Obras:</label>
                         <div class="col-sm-10">
                            
            <div class="mb-3">
              <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Obras
              </button>
              <ul style='width:300px' class="dropdown-menu">
                  {%for obra in obras%}
                  <li>
                      <div style='margin-left:20px' class="mb-3 form-check">
                          <input name='obra' type="checkbox" class="form-check-input" id="exampleCheck1" value="{{obra.id}}">
                          <label class="form-check-label" for="exampleCheck1">{{obra}}</label>
                      </div>
                  </li>
                  {%endfor%}

                  
              </ul>
            </div>
              </button>
          </div>
                         </div>
                      </div>
                                                         
                      <div class="modal-footer"><input type="submit" class="btn btn-primary" value='ENVIAR'></input></div>
                   </div>
                </div>
              </form>
             </div>
          </ol>
       </nav>




    </div>
    <section class="section dashboard">
       <div class="row">
          <div class="col-lg-12">
             <div class="row">

                <div class="col-xxl-4 col-xl-12">
                   <table class="table table-striped table-bordered">
                      <thead style="font-size:10px" >
                        <tr>
                          <th class='okok' scope='col'>Nº</th>
                          <th class='okok' scope="col">TANQUE</th>
                          <th class='okok' scope="col">DATA CHEGADA</th>
                          <th class='okok' scope="col">QUANTIDADE</th>
                          <th class='okok' scope="col">NF nº</th>
                          <th class='okok' scope="col">DATA EMISSÃO</th>
                          <th class='okok' scope="col">VALOR LITRO</th>
                          <th class='okok' scope="col">VALOR TOTAL</th>
                          <th class='okok' scope="col">OBRA</th>
                          <th class='okok' scope="col">DESCRIÇÃO</th>
                          
                        </tr>
                      </thead>
                      <tbody style="font-size:10px" >
                      {%for entrada in entradas%}    
                        <tr>
                          <th scope="row">{{entrada.numero}}</th>
                          <td class='okok'>{{entrada.tanque}}</td>
                          <td class='okok'>{{entrada.data_entrega}}</td>
                          <td class='okok'>{{entrada.quantidade}}</td>
                          <td class='okok'>{{entrada.nota_fiscal}}</td>
                          <td class='okok'>{{entrada.data_nf}}</td>
                          <td class='okok'>R${{entrada.preco_unitario}}</td>
                          <td class='okok'>R${{entrada.preco_total}}</td>
                          <td class='okok'>{{entrada.obra}}</td>
                          <td class='okok'>{{entrada.descricao}}</td>
                        </tr>
                        {%endfor%}
                         </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </section>


               
 </main>
 <footer id="footer" class="footer">
    <div class="copyright"> &copy; Copyright <strong><span>Kaito Control</span></strong>. All Rights Reserved</div>
    
 </footer>
 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>  




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="assets/js/apexcharts.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/chart.min.js"></script>
<script src="assets/js/echarts.min.js"></script>
<script src="assets/js/quill.min.js"></script>
<script src="assets/js/simple-datatables.js"></script>
<script src="assets/js/tinymce.min.js"></script>
<script src="assets/js/validate.js"></script>
<script src="assets/js/main.js"></script> 


  
  <script src="{% static 'ceq/javascript/js.js' %}"></script>








 {% endblock%}