{% extends 'base.html' %}

{% load static %}
{% block 'head' %}
<link href="assets/img/favicon.jpg" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
  /* Estilo para a tabela */
  .table-container {
    overflow-x: auto;
    margin-top: 20px;
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
  }

  .custom-table th,
  .custom-table td {
    padding: 6px 8px; /* Reduziu o espaçamento das células */
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 10px; /* Ajustado para um tamanho menor */
    word-wrap: break-word;  /* Quebra de palavra para evitar ultrapassar */
  }

  .custom-table th {
    background-color:rgb(206, 74, 41);
    color: white;
    text-transform: uppercase;
    font-size: 11px; /* Ajustado o tamanho do texto no cabeçalho */
  }

  .custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .custom-table tr:hover {
    background-color: #f1f1f1;
  }

  .custom-table td {
    background-color: #ffffff;
  }

  /* Estilo para células da tabela */
  .custom-table td, .custom-table th {
    white-space: normal; /* Permite que o texto quebre dentro das células */
    overflow: hidden;
    text-overflow: ellipsis;  /* Adiciona '...' caso o texto seja muito longo */
  }

  /* Ajustes específicos para as colunas problemáticas */
  .custom-table td.obra, .custom-table th.obra {
    max-width: 120px; /* Limita a largura da coluna 'Obra' */
  }

  .custom-table td.propriedade, .custom-table th.propriedade {
    max-width: 120px; /* Limita a largura da coluna 'Propriedade' */
  }

  /* Responsividade e ajustes para telas menores */
  @media screen and (max-width: 768px) {
    .custom-table th,
    .custom-table td {
      font-size: 9px; /* Diminui ainda mais o tamanho da fonte em telas pequenas */
    }
  }
</style>

{% endblock %}

{% block 'titulo' %}Saídas{% endblock %}

{% block 'body' %}

  <main id="main" class="main">
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <div style="margin-left: 450px; margin-top:8px; color:black; font-size:18px;">TOTAL {{total_saidas|floatformat:"2g"}} Litros</div>
        </ol>
      </nav>
    </div>

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-xxl-12 col-xl-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 18px; text-align: center;">Saídas de Diesel</h5>
                  <div class="table-container">
                    <table class="custom-table">
                      <thead>
                        <tr>
                          <th>TANQUE</th>
                          <th>DATA</th>
                          <th class="obra">OBRA</th>
                          <th>EQUIPAMENTO</th>
                          <th>DESCRIÇÃO</th>
                          <th class="propriedade">PROPRIEDADE</th>
                          <th>QUANTIDADE (L)</th>
                          <th>HORÍMETRO/KM</th>
                          <th>OPERADOr</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for saida in saidas %}
                          <tr>
                            <td>{{ saida.tanque }}</td>
                            <td>{{ saida.data }}</td>
                            <td class="obra" style="font-size:8px">{{ saida.obra }}</td>
                            <td>{{ saida.equipamento }}</td>
                            <td>{{ saida.equipamento.descricao }}</td>
                            <td class="propriedade" style="font-size:8px">{{ saida.equipamento.proprietario }}</td>
                            <td>{{ saida.litros|floatformat:"2" }}</td>
                            <td>{{ saida.horimetro }}</td>
                            <td>{{ saida.operador }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="assets/js/main.js"></script>
{% endblock %}
