{%extends 'base.html'%}

{%load static%}

{%block 'head'%}
<link rel='stylesheet' href="{% static 'ceq/css/home.css' %}">
<link rel="stylesheet" href="{% static 'autenticacao/css/base.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{%endblock%}


{%block 'body'%}
  <!-- MENSAGENS -->
  <main id="main" class="main">
    <div class="pagetitle">
      {% if messages %}
        {%for i in messages%}
          <div class="{{i.tags}}" role='alert'>
              {{i}}
          </div>
        {%endfor%}
      {%endif%}  
 <!-- MENSAGENS --> 


<section class="section dashboard">



    <div class="row">
        <div class='col-5'>
            <h1 style="font-size:50px">Mecânicos</h1>
        </div>
        <div class='col-7'>
            <form method='POST' action="{%url 'analise_mecanicos'%}">{% csrf_token %}
                <input type='hidden' name='form_osoficina' value='form_osoficina'>
            
                 <div class="mb-3">
                     <label style='width:80px' class="form-label">Data Início:</label>
                     <input style='width:110px' type="date" name="data_inicio"></input>
    
                    <label style='width:80px' class="form-label">Data Fim:</label>
                    <input style='width:110px' type="date" name="data_fim"></input>

                    <input type="submit" class="btn btn-primary"></input>
                  </div>  
              </form>
          </div>


        </div>
       <div class="col-lg-12">
          <div class="row">

            <div class="col-xxl-6 col-md-12 font-weight-bold " style="font-size:13px" >
                <div style='margin-bottom:10px;height:80px'class="">
                   <div class="card-body">
                         <div class="d-flex text-center">
 
                               <div class="col-2 border-right">Mecânico</div>
                               <div class="col-1 border-right">Qtd. Serviços</div>
                               <div class="col-2 border-right">Duração Serviço</div>
                               <div class="col-1 border-right">Duração Viagens</div>
                               <div class="col-2 border-right">% tempo em serviço</div>
                         </div>
                   </div>
                </div>
             </div>
            

           
   {% for mecanicos, servicos_mecanico, quantidade_servicos, tempo_servicos, tempo_viagens in doc_zip %}
   <div class="col-xxl-6 col-md-12 ">
       <div style='margin-bottom:10px' class="card info-card sales-card  border border-primary">
           <div class="card-body">
               <div class="d-flex align-items-center text-center">

                       <div class="col-2 border-right font-weight-bold">{{mecanicos}}</div>
                       <div class="col-1 border-right">{{quantidade_servicos}}</div>
                       <div class="col-2 border-right">{{tempo_servicos|floatformat:"1g"}} horas</div>
                       <div class="col-1 border-right">{{tempo_viagens|floatformat:"1g"}} horas</div>
                       <div class="col-1 border-right">qtd. viagens</div>
               </div>
           </div>
           <!-- Accordion colocado após o card-body -->
           <div class="accordion" id="accordionExample">
               <div class="accordion-item">
                   <h2 class="accordion-header">
                       <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ mecanicos.id }}" aria-expanded="true" aria-controls="collapse{{ mecanicos.id }}">
                           Serviços
                       </button>
                   </h2>
                   <div id="collapse{{ mecanicos.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">

                     <div class="col-xxl-6 col-md-12 font-weight-bold " style="" >
                       <div style='margin-bottom:10px;height:40px'class="">
                          <div class="card-body">
                                <div class="d-flex text-center">
                    
                                      <div class="col-2">Data Início</div>
                                      <div class="col-2">Data Fim</div>
                                      <div class="col-2">Equipamento</div>
                                      <div class="col-2">Grupo Serviço</div>
                                      <div class="col-2">Duração Serviço</div>
                                      <div class="col-2">Descrição do Serviço</div>
                                </div>
                                <div class="col-xxl-6 col-md-12 border-dark"> </div>
                          </div>
                       </div>
                    </div>
                       <div class=" accordion-body">
                           {%for registro in servicos_mecanico%}
                           {%if registro.servico_oficina%}
                           <div style="margin-bottom:15px; background-color:#ADD8E6" class="col-xxl-6 col-md-12 border border-primary rounded-2 ">
                           {%elif registro.servico_socorro%}
                            <div style="margin-bottom:15px; background-color:#FFFF80" class="col-xxl-6 col-md-12 border border-primary rounded-2 ">
                            {%elif registro.servico_preventiva%}
                            <div style="margin-bottom:15px; background-color:#80FF80" class="col-xxl-6 col-md-12 border border-primary rounded-2 ">
                            {%endif%}



                             <div class="row align-items-start text-center">
                             <div class="col-2">{{ registro.data_inicial|date:"d/m/Y - H:i" }}</div>
                             <div class="col-2">{{ registro.data_final|date:"d/m/Y - H:i" }}</div>
                             <div class="col-2">{% if registro.servico_oficina != None %} {{ registro.servico_oficina.ordem_servico.equipamento }}
                                {% elif registro.servico_socorro != None %} {{registro.servico_socorro.equipamento}} 
                                {% elif registro.servico_preventiva != None%}{{registro.servico_preventiva.ordem.equipamento}}
                                {%else%} teste
                                {%endif%}

                             </div>
                             <div class="col-2">{% if registro.servico_oficina != None %} {{ registro.servico_oficina }}
                                                {% elif registro.servico_socorro != None %} {{registro.servico_socorro.grupo_servico}} 
                                                {% elif registro.servico_preventiva != None%} PREVENTIVA {{registro.servico_preventiva.ordem.periodo}}
                                                {%else%} teste
                                                {%endif%}
                             </div>
                             <div class="col-2">{{ registro.tempo_servico|floatformat:"1g" }}</div>
                             <div class="col-2">{{ registro.descricao }}</div>

                          </div>
                       </div>

                           {%endfor%}
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endfor %}
        


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'ceq/javascript/js.js' %}"></script>
{%endblock%}
