{%extends 'base.html'%}

{%load static%}

{%block 'head'%}
<link rel='stylesheet' href="{% static 'ceq/css/home.css' %}">
<link rel="stylesheet" href="{% static 'autenticacao/css/base.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{%endblock%}


{%block 'body'%}
  <!-- MENSAGENS -->
  <main id="main" class="main">
    <div class="pagetitle">
      {% if messages %}
        {%for i in messages%}
          <div class="{{i.tags}}" role='alert'>
              {{i}}
          </div>
        {%endfor%}
      {%endif%}  
 <!-- MENSAGENS --> 



 <section class="section dashboard">
    <div class="row">
       <div class="col-lg-12">
          <div class="row">
             <div class="col-xxl-4 col-xl-12">
                <div class="card info-card customers-card">
                   <div class="card-body">
                     <div class='row'>
                      <div class="col-lg-6" style='margin-left:50px'>
                        <h5 class="card-title" style='font-size:30px'>ABRIR ORDEM DE SERVIÇO</h5>
                      </div>
                      <div class="col-lg-5">
                        <form action="{%url 'atualizacao_horarios'%}" method='POST'>{%csrf_token%}
                           <input style="margin-bottom:5px; margin-left:250  px" type="submit" value='Atualizar horários' class="btn btn-danger btn-sm">
                        </form>
                     </div>
                  </div>



                     

                      <div class="d-flex align-items-left">

                         <div style='margin-left:50px'>
                           
                             <!-- MODAL OS CORRETIVA OFICINA -->
                        <button style="margin-bottom:5px" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#OSCorretiva">
                           O.S. Corretiva Oficina
                        </button>

                        <button style="margin-bottom:5px" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#Socorro">
                           O.S. Socorro
                        </button>
                        <button style="margin-bottom:5px" type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                           O.S. Corretiva Oficina
                        </button>
                         </div> 


                      </div>
                   </div>
                </div>
             </div>

            {% comment %} {%for ordem_aberta, num_abertas, num_finalizadas, status_serv in dados_zip %}
             <div class="col-xxl-6 col-md-12">
               <div style='margin-bottom:10px' class="card info-card sales-card">
                  <div class="card-body">
                     <div class="d-flex align-items-c enter">
                        <div class="row align-items-start">
                           <div class="col">{{ordem_aberta.equipamento}}</div>
                           <div class="col">{{ordem_aberta.data_inicio}}</div>
                           <div class="col">{{num_finalizadas}}</div>
                           <div class="col">{{num_abertas}}</div>
                           <div class="col">Status ({{status_serv}})</div>
                           <div class="col"><a href="/manutencao/osoficina/{{ordem_aberta.id}}/">OSF{{ordem_aberta.numero}}</a></div>
                           <div class="col"><div class="accordion" id="accordionExample">
                              <div class="accordion-item">
                                <h2 class="accordion-header">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ordem_aberta.id}}" aria-expanded="true" aria-controls="collapseOne">
                                    Accordion Item #1
                                  </button>
                                </h2>
                                <div id="collapse{{ordem_aberta.id}}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                  <div class="accordion-body">teste</div>
                                </div>
                              </div></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {%endfor%} {% endcomment %}

         {% comment %}Corretivas oficina{% endcomment %}

            <div class="col-xxl-6 col-md-12 font-weight-bold " style="height:40px" >
               <div style='margin-bottom:10px;height:40px'class="">
                  <div class="card-body">
                        <div class="d-flex">

                              <div class="col-2">Equip.</div>
                              <div class="col-2">data inicio</div>
                              <div class="col-2">serv. abertos</div>
                              <div class="col-2">serv. finalizados</div>
                              <div class="col-2"> status</div>
                              <div class="col-1">tempo total</div>
                              <div class="col-1">
                                    Link OS
                              </div>
                        </div>
                  </div>
               </div>
            </div>

   {% for ordem_aberta, num_abertas, num_finalizadas, status_serv, serv_a, serv_f in dados_zip %}
    <div class="col-xxl-6 col-md-12 ">
        <div style='margin-bottom:10px' class="card info-card sales-card  border border-primary">
            <div class="card-body">
                <div class="d-flex align-items-center">

                        <div class="col-2 border-right">{{ ordem_aberta.equipamento }}</div>
                        <div class="col-2 border-right">{{ ordem_aberta.data_inicio|date:"d/m/Y - H:i"  }}</div>
                        <div class="col-2 border-right">{{ num_finalizadas }}</div>
                        <div class="col-2 border-right">{{ num_abertas }}</div>
                        <div class="col-2 border-right"> {{ status_serv }}</div>
                        <div class="col-1 border-right">{{ordem_aberta.tempo_total}}</div>
                        <div class="col-1 border-right">
                            <a href="/manutencao/osoficina/{{ ordem_aberta.id }}/">OSF{{ ordem_aberta.numero }}</a>
                        </div>
                </div>
            </div>
            <!-- Accordion colocado após o card-body -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ ordem_aberta.id }}" aria-expanded="true" aria-controls="collapse{{ ordem_aberta.id }}">
                            Serviços
                        </button>
                    </h2>
                    <div id="collapse{{ ordem_aberta.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {%for serv in serv_a%}
                            <div class="col-xxl-6 col-md-12">

                              <div class="row align-items-start">
                              <div class="col">{{ serv.data_inicio|date:"d/m/Y - H:i" }}</div>
                              <div class="col">{{ serv.grupo_servico }}</div>
                              <div class="col">{{ serv.descricao }}</div>
                              <div class="col">{{ serv.status }}</div>
                              <div class="col"> </div>
                              <div class="col"> Item para comprar</div>
                              <div class="col"> Prioridade</div>

                           </div>
                        </div>

                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% comment %}Socorros{% endcomment %}

<div class="col-xxl-6 col-md-12 font-weight-bold " style="height:40px" >
   <div style='margin-bottom:10px;height:40px'class="">
      <div class="card-body">
            <div class="d-flex">

                  <div class="col-2">Obra</div>
                  <div class="col-2">data saída</div>
                  <div class="col-2">Qtd. equipamentos</div>
                  <div class="col-2">Qtd. serviços</div>
                  <div class="col-2">
                        Link OS
                  </div>
            </div>
      </div>
   </div>
</div>


{% for socorro in socorros %}
<div class="col-xxl-6 col-md-12 ">
<div style='margin-bottom:10px' class="card info-card sales-card  border border-warning">
<div class="card-body">
    <div class="d-flex align-items-center">

            <div class="col-2 border-right">{{ socorro.obra }}</div>
            <div class="col-2 border-right">{{ socorro.data_saida|date:"d/m/Y - H:i"  }}</div>
            <div class="col-2 border-right">num_finalizadas </div>
            <div class="col-2 border-right">num_abertas </div>
            <div class="col-1 border-right">
                <a href="/manutencao/socorro/{{ socorro.id }}/">OSS{{ socorro.numero }}</a>
            </div>
    </div>
</div>
<!-- Accordion colocado após o card-body -->
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ ordem_aberta.id }}" aria-expanded="true" aria-controls="collapse{{ ordem_aberta.id }}">
                Serviços
            </button>
        </h2>
        <div id="collapse{{ ordem_aberta.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {%for serv in serv_a%}
                <div class="col-xxl-6 col-md-12">

                  <div class="row align-items-start">
                  <div class="col">{{ serv.data_inicio|date:"d/m/Y - H:i" }}</div>
                  <div class="col">{{ serv.grupo_servico }}</div>
                  <div class="col">{{ serv.descricao }}</div>
                  <div class="col">{{ serv.status }}</div>
                  <div class="col"> </div>
                  <div class="col"> Item para comprar</div>
                  <div class="col"> Prioridade</div>

               </div>
            </div>

                {%endfor%}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endfor %}





  <!-- MODAL OS CORRETIVA OFICINA -->
  <div class="modal fade" id="OSCorretiva" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">OS Corretiva Oficina</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- FORM AQUI -->
            <form method='POST' action="{%url 'home_manutencao'%}">{% csrf_token %}
               <input type='hidden' name='form_osoficina' value='form_osoficina'>
                <div class="mb-3">
                    <label class="form-label">Equipamento:</label>
                    <select name='equipamento'>
                        {%for equipamento in list_equip%} 
                        <option value={{equipamento.id}}>{{equipamento}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Data Início:</label>
                    <input style='width:300px' type="datetime-local" name="data_inicio"></input>
                </div>
                <div class="mb-3">
                    <label class="form-label">Horímetro:</label>
                    <input style='width:300px' type="number" name="horimetro"></input>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary"></input>
                </div>  
            </form>
        </div>
      </div>
    </div>
  </div>

    <!-- MODAL SOCORRO -->
    <div class="modal fade" id="Socorro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Socorro</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- FORM AQUI -->
              <form method='POST' action="{%url 'home_manutencao'%}">{% csrf_token %}
                 <input type='hidden' name='form_socorro' value='form_socorro'>
                  <div class="mb-3">
                      <label class="form-label">Obra:</label>
                      <select name='obra'>
                          {%for obra in obras%} 
                          <option value={{obra.id}}>{{obra}}</option>
                          {%endfor%}
                      </select>
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Data Saída:</label>
                      <input style='width:300px' type="datetime-local" name="data_saida"></input>
                  </div>
 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary"></input>
                  </div>  
              </form>
          </div>
        </div>
      </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  
  <script src="{% static 'ceq/javascript/js.js' %}"></script>


{%endblock%}
