{%extends 'base.html'%}

{%load static%}

{%block 'head'%}
<link rel='stylesheet' href="{% static 'ceq/css/home.css' %}">
<link rel="stylesheet" href="{% static 'autenticacao/css/base.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{%endblock%}


{%block 'body'%}
  <!-- MENSAGENS -->
  <main id="main" class="main">
    <div class="pagetitle">
      {% if messages %}
        {%for i in messages%}
          <div class="{{i.tags}}" role='alert'>
              {{i}}
          </div>
        {%endfor%}
      {%endif%}  
 <!-- MENSAGENS --> 



 <section class="section dashboard">
    <div class="row">
       <div class="col-lg-12">
          <div class="row">
             <div class="col-xxl-4 col-xl-12">
                <div class="card info-card customers-card">
                   <div class="card-body">
                      <h5 class="card-title" style='font-size:30px'>ABRIR ORDEM DE SERVIÇO <span>| Atual</span></h5>
                      <div class="d-flex align-items-left">

                         <div style='margin-left:50px'>
                           
                             <!-- MODAL OS CORRETIVA OFICINA -->
                        <button style="margin-bottom:5px" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                           O.S. Corretiva Oficina
                        </button>

                        <button style="margin-bottom:5px" type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                           O.S. Socorro
                        </button>
                        <button style="margin-bottom:5px" type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                           O.S. Corretiva Oficina
                        </button>
                         </div> 


                      </div>
                   </div>
                </div>
             </div>







             
             <div class="col-xxl-6 col-md-12">
                <div class="card info-card sales-card">
                   <div class="card-body">
                      <h5 class="card-title">ORDEM DE SERVIÇO CORRETIVA OFICINA <span>|EM ABERTO</span></h5>
                      <div class="d-flex align-items-c enter">
                         <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-fuel-pump"></i></div>
                         <div class="ps-3">
                            <h5>LISTAR O.S. CORRETIVAS ABERTAS AQUI - INDICANDO A QUANTIDADE DE SERVIÇOS EM ABERTO/ tempo em aberto/ status atual</h5>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             
            {%for ordem_aberta in os_oficina_aberta %}
             <div class="col-xxl-6 col-md-12">
               <div style='margin-bottom:10px' class="card info-card sales-card">
                  <div class="card-body">
                     <div class="d-flex align-items-c enter">
                        <div class="ps-3">
                           <h5>{{ordem_aberta.equipamento}} // {{ordem_aberta.data_inicio}} // <a href="/manutencao/osoficina/{{ordem_aberta.id}}/">OSF{{ordem_aberta.numero}}</a></h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {%endfor%}

            <div class="col-xxl-6 col-md-12">
               <div style='margin-bottom:10px' class="card info-card sales-card">
                  <div class="card-body">
                     <div class="d-flex align-items-c enter">
                        <div class="ps-3">
                           <h5>LISTAR O.S. CORRETIVAS ABERTAS AQUI - INDICANDO A QUANTIDADE DE SERVIÇOS EM ABERTO</h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


             <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                   <div class="card-body">
                      <h5 class="card-title">TC-02 <span>| Tanque 30.000 litros</span></h5>
                      <div class="d-flex align-items-center">
                         <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-fuel-pump"></i></div>
                         <div class="ps-3">
                            <h6>{{tc02.0|floatformat:"2g"}}</h6>
                            <span class="text-success small pt-1 fw-bold">{{tc02.1}}%</span> <span class="text-muted small pt-2 ps-1">volume</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>

             <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                   <div class="card-body">
                      <h5 class="card-title">CA-01.1 <span>| Tanque 4500 litros</span></h5>
                      <div class="d-flex align-items-center">
                         <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-truck"></i></div>
                         <div class="ps-3">
                            <h6>{{ca01.0|floatformat:"2g"}}</h6>
                            <span class="text-success small pt-1 fw-bold">{{ca01.1}}%</span> <span class="text-muted small pt-2 ps-1">volume</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>

             <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                   <div class="card-body">
                      <h5 class="card-title">CA-02.1 <span>| Tanque 4500 litros</span></h5>
                      <div class="d-flex align-items-center">
                         <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-truck"></i></div>
                         <div class="ps-3">
                            <h6>{{ca02.0|floatformat:"2g"}}</h6>
                            <span class="text-success small pt-1 fw-bold">{{ca02.1}}%</span> <span class="text-muted small pt-2 ps-1">volume</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>


             
             

             
            
             
          </div>
       </div>
      
          </div>

          
          </div>
       </div>
    </div>
 </section>


  <!-- MODAL OS CORRETIVA OFICINA -->
  <button style="margin-left:300px" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
    O.S. Corretiva Oficina
  </button>
  
  <!-- MODAL OS CORRETIVA OFICINA -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- FORM AQUI -->
            <form method='POST' action="{%url 'home_manutencao'%}">{% csrf_token %}
               <input type='hidden' name='form_osoficina' value='form_osoficina'>
                <div class="mb-3">
                    <label class="form-label">Equipamento:</label>
                    <select name='equipamento'>
                        {%for equipamento in list_equip%} 
                        <option value={{equipamento.id}}>{{equipamento}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Data Início:</label>
                    <input style='width:300px' type="datetime-local" name="data_inicio"></input>
                </div>
                <div class="mb-3">
                    <label class="form-label">Horímetro:</label>
                    <input style='width:300px' type="number" name="horimetro"></input>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary"></input>
                </div>  
            </form>

        </div>


      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  
  <script src="{% static 'ceq/javascript/js.js' %}"></script>


{%endblock%}