{%extends 'base.html'%}

{%load static%}

{%block 'head'%}
<link rel='stylesheet' href="{% static 'ceq/css/home.css' %}">
<link rel="stylesheet" href="{% static 'autenticacao/css/base.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{%endblock%}


{%block 'body'%}
  <!-- MENSAGENS -->
  <main id="main" class="main">
    <div class="pagetitle">
      {% if messages %}
        {%for i in messages%}
          <div class="{{i.tags}}" role='alert'>
              {{i}}
          </div>
        {%endfor%}
      {%endif%}  
 <!-- MENSAGENS --> 



 <section class="section dashboard">
    <div class="row">
       <div class="col-lg-12">
          <div class="row">


            <div class="col-xxl-6 col-md-12">
               <div class="card info-card sales-card">
                  <div class="card-body">
                     <h5 class="card-title">ORDEM DE SERVIÇO CORRETIVA OFICINA <span>|EM ABERTO</span></h5>
                     <div class="d-flex align-items-c enter">
                        <div class="ps-3">
                           <h6>{{ordem_oficina_aberta.equipamento}} _____ {{ordem_oficina_aberta.data_inicio}} _____ (colocar aqui tempo parado)  </h6>

                        </div>
                        <div class="d-flex align-items-cleft justify-content-left"> 
                         <!-- BOTÃO MODAL ADIÇÃO DE SERVIÇO -->
                           <button style="margin-left:50px" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Adicionar Serviço
                            </button>
                        </div>

                     </div>
                  </div>
               </div>
            </div>




             {% for servico in servico_oficina %}
             <div class="col-xxl-6 col-md-12">
                <div class="card info-card sales-card">
                   <div class="card-body">

                      <div class="d-flex align-items-c enter">
                         <div class="ps-3">
                            <div style="font-size:20px">SOF{{servico.numero}}   //   {{servico.grupo_servico}}   //   {{servico.status}} // {{servico.descricao}} // {{servico.data_inicio}} //
                              <button style="margin-left:50px" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#status_servico">
                              Status Serviço
                            </button> </div>

                         </div>
                      </div>
                   </div>
                </div>
             </div>

             {%endfor%}


           
             


             
            
             
          </div>
       </div>
      
          </div>

          
          </div>
       </div>
    </div>
 </section>




  
  <!-- MODAL OS CORRETIVA OFICINA -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- FORM AQUI -->
            <form method='POST' action="{%url 'servico_oficina' id=id_OS_oficina%}">{% csrf_token %}    <!-- para passar uma url em um form com id, utilizar esse método -->
               <input type='hidden' name='form_servico' value='form_osoficina'>
                <div class="mb-3">
                    <label class="form-label">Tipo Serviço:</label>
                    <select name='grupo_servico'>
                        {%for tipo in grupo_servico%} 
                        <option value={{tipo.id}}>{{tipo}}</option>
                        {%endfor%}
                    </select>
                </div>


                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status_executante" id="flexRadioDefault1" value='funcionario'>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Funcionário
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status_executante" id="flexRadioDefault2" value='terceirizado' checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Terceirizado
                  </label>
                </div>


                <div class="mb-3">
                  <label class="form-label">Executante:</label>
                  <select name='executante_funcionario'>
                      {%for executante in executantes%} 
                      <option value={{executante.id}}>{{executante}}</option>
                      {%endfor%}
                  </select>
              </div>

              <div class="mb-3">
               <label class="form-label">Terceirizado:</label>
               <select name='executante_terceiro'>
                   {%for terceiro in terceiros%} 
                   <option value={{terceiro.id}}>{{terceiro}}</option>
                   {%endfor%}
               </select>
              </div>

              <div class='mb-3'></div>

                <div class="mb-3">
                    <label class="form-label">Data Início:</label>
                    <input style='width:300px' type="datetime-local" name="data_inicio"></input>
                </div>

                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Descrição do serviço:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name='descricao'></textarea>
                </div>
  

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary"></input>
                </div>  
            </form>

        </div>


      </div>
    </div>
  </div>



  <!-- MODAL status serviço -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="status_servico" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- FORM AQUI -->
            <form method='POST' action="{%url 'servico_oficina' id=id_OS_oficina%}">{% csrf_token %}    <!-- para passar uma url em um form com id, utilizar esse método -->
               <input type='hidden' name='form_servico' value='form_osoficina'>
                <div class="mb-3">
                    <label class="form-label">Tipo Serviço:</label>
                    <select name='grupo_servico'>
                        {%for tipo in grupo_servico%} 
                        <option value={{tipo.id}}>{{tipo}}</option>
                        {%endfor%}
                    </select>
                </div>


                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status_executante" id="flexRadioDefault1" value='funcionario'>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Funcionário
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="status_executante" id="flexRadioDefault2" value='terceirizado' checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Terceirizado
                  </label>
                </div>


                <div class="mb-3">
                  <label class="form-label">Executante:</label>
                  <select name='executante_funcionario'>
                      {%for executante in executantes%} 
                      <option value={{executante.id}}>{{executante}}</option>
                      {%endfor%}
                  </select>
              </div>

              <div class="mb-3">
               <label class="form-label">Terceirizado:</label>
               <select name='executante_terceiro'>
                   {%for terceiro in terceiros%} 
                   <option value={{terceiro.id}}>{{terceiro}}</option>
                   {%endfor%}
               </select>
              </div>

              <div class='mb-3'></div>

                <div class="mb-3">
                    <label class="form-label">Data Início:</label>
                    <input style='width:300px' type="datetime-local" name="data_inicio"></input>
                </div>

                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Descrição do serviço:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name='descricao'></textarea>
                </div>
  

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary"></input>
                </div>  
            </form>

        </div>


      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  
  <script src="{% static 'ceq/javascript/js.js' %}"></script>


{%endblock%}