{% extends 'base_obra.html' %}

{% load static %}
{% block 'titulo' %}painel_obras{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>



{%block 'plataforma' %}

<body style='margin-left:20px'>

  {% if messages %}
    {%for i in messages%}
    <div class="{{i.tags}}" role='alert'>
        {{i}}
    </div>
    {%endfor%}
  {%endif%}


  <div class="d-flex justify-content-between align-items-center" style="margin-bottom:10px">
    <a style='font-size:20px; font-weight:bold; font-c' href="{% url 'exportexcel' id=obra.id %}" download="my.xlsx">Download Excel</a>
    <a class="btn btn-primary" href="{% url 'lista_obras' %}">&laquo; Voltar para Obras</a>
  </div>




<div class='row'>
  <div class='col-4'>
    <table style="width:20%; margin-top:20px; width:300px" class="table table-striped table-bordered">
        <thead class='table-primary'>
          <tr>
            <th scope="col">SALDO ATUAL</th>
          </tr>
        </thead>
        <tbody>
        {%for obra in obras%}    
          <tr >
            <td style="font-weight:bold; font-size:30px">{{obra.saldo|floatformat:"2g"}} Litros</td>

          </tr>
          {%endfor%}
          </tbody>
      </table>
  </div>
    
  {% comment %} <div class="col-xxl-4 col-md-6">
    <div class="card info-card sales-card">
       <div class="card-body">
          <h5 class="card-title">FILTRO</h5>
          <div class="d-flex align-items-c enter">
             <div class="ps-3">
              <form method='POST' action="{%url 'obra' id=obra.id%}">{% csrf_token %}
                <input type='hidden' name='form_entradas' value='form_entradas'>
                <div class="container text-left">  
                    <div class="row">
                        <div class='col-md-6'>

                        <div class='col' >
                            <label style='width:100px' for='data_entrega'>Data início:</label> 
                            <input type='date' name='data_inicio'>
                        </div>
                        <div class='col' >
                          <label style='width:100px' for='data_entrega'>Data fim:</label> 
                          <input type='date' name='data_fim'>
                      </div>


                      </div>
                    </div>


                  </div>
                </div> 

            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value='Ir'>
            </div>
          </form>
             </div>
          </div>
       </div>
    </div>
 </div>
 
</div> {% endcomment %}

  <div class="row" style="margin-top:20px; margin-bottom:20px">
    <div class="col-md-4">
      <a href="{% url 'obra_entradas' id=obra.id %}" class="btn btn-success w-100" style="font-size:20px; padding:18px;">
        <i class="bi bi-box-arrow-in-down"></i> Entradas de Diesel
      </a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'obra_abastecimentos' id=obra.id %}" class="btn btn-danger w-100" style="font-size:20px; padding:18px;">
        <i class="bi bi-fuel-pump"></i> Abastecimentos
      </a>
    </div>
    {% if medicao_habilitado %}
    <div class="col-md-4">
      <a href="{% url 'medicao_obra_home' obra_id=obra.id %}" class="btn btn-primary w-100" style="font-size:20px; padding:18px;">
        <i class="bi bi-truck"></i> Medição
      </a>
    </div>
    {% endif %}
  </div>



<canvas id="despesas_mensal" width="250" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  
  <script src="{% static 'ceq/javascript/js.js' %}"></script>


  <script>
    window.onload = function(event){

      renderiza_despesas_mensal()



}
</script>

</body>

{% endblock %}

